body {
  padding: 50px; }
  body .public_fixedDataTable_main {
    margin: 15px 0; }
  body .btn-group span {
    padding-left: 12px; }

.paid-row .public_fixedDataTableCell_main {
  cursor: not-allowed; }

.paid-row .public_fixedDataTableCell_cellContent {
  color: gray;
  opacity: 0.67; }
  .paid-row .public_fixedDataTableCell_cellContent input[type="checkbox"] {
    pointer-events: none; }
